<div class="w-full px-4 md:px-6 mt-4">
  <div class="max-w-screen-xl mx-auto">
    <p-toolbar class="flex-auto items-center">
      <div class="p-toolbar-group-start">
        <i class="pi pi-briefcase" style="font-size: 1.5rem"></i>
        <span class="font-bold text-xl ml-2">Gestão de Processos</span>
      </div>

      <div class="p-toolbar-group-end">
        <p-button
          label="Cadastro de Partes"
          styleClass="p-button-text"
          routerLink="/partes"
        ></p-button>
        <p-button
          label="Consulta de Processos"
          styleClass="p-button-text"
          routerLink="/processos"
        ></p-button>
      </div>
    </p-toolbar>
  </div>
</div>

<main class="p-4 md:p-6">
  <div class="max-w-screen-xl mx-auto">
    <router-outlet></router-outlet>
  </div>
</main>
